html {
  font-size: 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo", "Pretendard Variable", Pretendard, Roboto, "Noto Sans KR", "Segoe UI", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

body {
  box-sizing: content-box;
  margin: 0;
  padding: 0;
}

a {
  display: block;
  text-decoration: none;
}

ul,
ol,
li {
  padding-inline-start: 0;
  list-style-type: none;
}